<mat-nav-list>
    <mat-divider></mat-divider>
    <h2 matSubheader>{{'sidebar.administrator'|translate}}</h2>
    <a mat-list-item routerLink="/terminal">{{'sidebar.terminal'|translate}}</a>
    <a mat-list-item routerLink="/prefix-operator">{{'sidebar.prefix-operator'|translate}}</a>
    <a mat-list-item routerLink="/product">{{'sidebar.product'|translate}}</a>
    <a mat-list-item routerLink="/reseller-list">{{'sidebar.reseller-list'|translate}}</a>
    <mat-divider></mat-divider>

    <h2 matSubheader>{{'sidebar.transaction'|translate}}</h2>
    <a mat-list-item routerLink="/sales">{{'sidebar.sales'|translate}}</a>
    <a mat-list-item routerLink="/sender">{{'sidebar.sender'|translate}}</a>
    <mat-divider></mat-divider>
</mat-nav-list>
