<article>
    <section>
        <h2 mat-dialog-title>{{'reseller-list.add-hp-dialog.title'|translate}} : OK001</h2>
    </section>
    <mat-divider></mat-divider>
    <section>
        <div>
            <h5>{{'reseller-list.add-hp-dialog.subtitle1'|translate}}</h5>
            <mat-form-field class="width-70" appearance="fill">
                <mat-label>{{'reseller-list.add-hp-dialog.input1'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="width-50" appearance="fill">
                <mat-label>{{'reseller-list.add-hp-dialog.select1'|translate}}</mat-label>
                <mat-select>
                    <mat-option>No Handphone</mat-option>
                    <mat-option>Yahoo</mat-option>
                    <mat-option>Jabber</mat-option>
                    <mat-option>IP Address</mat-option>
                    <mat-option>AppID</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="width-50" appearance="fill">
                <mat-label>{{'reseller-list.add-hp-dialog.select2'|translate}}</mat-label>
                <mat-select>
                    <mat-option>Full Akses</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="width-50" appearance="fill">
                <mat-label>{{'reseller-list.add-hp-dialog.select3'|translate}}</mat-label>
                <mat-select>
                    <mat-option>Aktif</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="footer-btn">
            <div>
                <button mat-flat-button color="primary"><mat-icon>done</mat-icon>{{'reseller-list.add-hp-dialog.footer-btn1'|translate}}</button>
                <button mat-flat-button color="warn"><mat-icon>clear</mat-icon>{{'reseller-list.add-hp-dialog.footer-btn2'|translate}}</button>
            </div>
        </div>
    </section>
</article>