<article class="mat-elevation-z8">
    <section>
        <h2>{{'sales.title'|translate}}</h2>
    </section>
    <section>
        <div class="flex">
            <div>
                <mat-form-field class="width-40 margin-r5" appearance="fill">
                    <mat-label>{{'sales.datepicker1'|translate}}</mat-label>
                    <input matInput [matDatepicker]="start_picker">
                    <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
                    <mat-datepicker #start_picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="width-40 margin-r5" appearance="fill">
                    <mat-label>{{'sales.datepicker2'|translate}}</mat-label>
                    <input matInput [matDatepicker]="end_picker">
                    <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
                    <mat-datepicker #end_picker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.select1'|translate}}</mat-label>
                    <mat-select>
                        <mat-option value="all">=Semua Status=</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.select2'|translate}}</mat-label>
                    <mat-select>
                        <mat-option value="all">=Semua Status=</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.input1'|translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.input2'|translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.input3'|translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="width-100" appearance="fill">
                    <mat-label>{{'sales.input4'|translate}}</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-checkbox>{{'sales.checkbox1'|translate}}</mat-checkbox>
                <mat-checkbox>{{'sales.checkbox2'|translate}}</mat-checkbox>
                <br>
                <button class="margin-r5" mat-stroked-button>{{'sales.btn1'|translate}}</button>
                <button class="margin-r5" mat-stroked-button>{{'sales.btn2'|translate}}</button>
                <button class="margin-r5" mat-stroked-button>{{'sales.btn3'|translate}}</button>
            </div>
            <div>
                <h5>{{'sales.subtitle1'|translate}}</h5>
                <table class="sub-table">
                    <tr>
                        <th>{{'sales.subtable-column1'|translate}}</th>
                        <td class="bg-blue">0</td>
                        <th>{{'sales.subtable-column2'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                    <tr>
                        <th>{{'sales.subtable-column3'|translate}}</th>
                        <td class="bg-purple">0</td>
                        <th>{{'sales.subtable-column4'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                    <tr>
                        <th>{{'sales.subtable-column5'|translate}}</th>
                        <td class="bg-red">0</td>
                        <th>{{'sales.subtable-column6'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                </table>
            </div>
            <div>
                <h5>{{'sales.subtitle2'|translate}}</h5>
                <table class="sub-table">
                    <tr>
                        <th>{{'sales.subtable-column7'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                    <tr>
                        <th>{{'sales.subtable-column8'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                    <tr>
                        <th>{{'sales.subtable-column9'|translate}}</th>
                        <td class="bg-gray">0</td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div>
                <div class="bg-green padding-10">{{'sales.table-comment'|translate}}</div>
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length <= 0">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> V </th>
                        <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </td>
                    </ng-container>
                    <ng-container matColumnDef="waktu">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column1'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.waktu}} </td>
                    </ng-container>
                    <ng-container matColumnDef="namaReseller">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column2'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.namaReseller}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tujuan">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column3'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.tujuan}} </td>
                    </ng-container>
                    <ng-container matColumnDef="kp">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column4'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.kp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column5'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column6'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
                    </ng-container>
                    <ng-container matColumnDef="namaTerminal">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column7'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.namaTerminal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="u">
                        <th mat-header-cell *matHeaderCellDef> U </th>
                        <td mat-cell *matCellDef="let element"> {{element.u}} </td>
                    </ng-container>
                    <ng-container matColumnDef="mark">
                        <th mat-header-cell *matHeaderCellDef> ! </th>
                        <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stok">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column8'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.stok}} </td>
                    </ng-container>
                    <ng-container matColumnDef="keterangan">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column9'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.keterangan}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="no-data-msg" *ngIf="dataSource.data.length <= 0"> &lt; {{'sales.table-no-data'|translate}} &gt; </div>
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> V </th>
                        <td mat-cell *matCellDef="let element"> <mat-checkbox></mat-checkbox> </td>
                    </ng-container>
                    <ng-container matColumnDef="waktu">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column1'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.waktu}} </td>
                    </ng-container>
                    <ng-container matColumnDef="namaReseller">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column2'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.namaReseller}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tujuan">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column3'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.tujuan}} </td>
                    </ng-container>
                    <ng-container matColumnDef="kp">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column4'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.kp}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column5'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="sn">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column6'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.sn}} </td>
                    </ng-container>
                    <ng-container matColumnDef="namaTerminal">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column7'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.namaTerminal}} </td>
                    </ng-container>
                    <ng-container matColumnDef="u">
                        <th mat-header-cell *matHeaderCellDef> U </th>
                        <td mat-cell *matCellDef="let element"> {{element.u}} </td>
                    </ng-container>
                    <ng-container matColumnDef="mark">
                        <th mat-header-cell *matHeaderCellDef> ! </th>
                        <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
                    </ng-container>
                    <ng-container matColumnDef="stok">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column8'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.stok}} </td>
                    </ng-container>
                    <ng-container matColumnDef="keterangan">
                        <th mat-header-cell *matHeaderCellDef> {{'sales.table-column9'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.keterangan}} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="total-data">
                <div>{{'sales.table-total1'|translate}}. 100</div>
            </div>
            <div class="table-footer">
                <div>
                    <button mat-stroked-button class="margin-r5">{{'sales.btn1'|translate}}</button>
                    <mat-checkbox class="margin-r5">{{'sales.checkbox3'|translate}}</mat-checkbox>
                    <mat-form-field class="margin-r5">
                        <mat-label></mat-label>
                        <mat-select>
                            <mat-option value="">option1</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox class="margin-r5">{{'sales.checkbox4'|translate}}</mat-checkbox>
                    <mat-form-field class="margin-r5">
                        <mat-label>{{'sales.select3'|translate}}</mat-label>
                        <mat-select>
                            <mat-option value="">stander</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-paginator [length]="100" [pageSize]="100" [pageSizeOptions]="[100, 150, 200]"></mat-paginator>
                </div>
            </div>
        </div>
    </section>
</article>