<article>
    <section>
        <h2 mat-dialog-title>{{'product.add-operator-dialog.title'|translate}}</h2>
    </section>
    <mat-divider></mat-divider>
    <section>
        <div>
            <mat-form-field class="width-100" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.input1'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="width-100" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.input2'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="width-100" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.textarea1'|translate}}</mat-label>
                <textarea matInput></textarea>
                <mat-hint>{{'product.add-operator-dialog.textarea1-hint'|translate}}</mat-hint>
            </mat-form-field>
            <br><br>
            <mat-form-field class="width-40 margin-r5" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.input3'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="width-40" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.input4'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-checkbox>{{'product.add-operator-dialog.checkbox1'|translate}}</mat-checkbox>
            <mat-checkbox>{{'product.add-operator-dialog.checkbox2'|translate}}</mat-checkbox>
            <br>
            <mat-form-field class="width-100" appearance="fill">
                <mat-label>{{'product.add-operator-dialog.input5'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="footer-btn">
            <div>
                <button mat-flat-button color="primary"><mat-icon>done</mat-icon>{{'product.add-operator-dialog.footer-btn1'|translate}}</button>
                <button mat-flat-button color="warn"><mat-icon>clear</mat-icon>{{'product.add-operator-dialog.footer-btn2'|translate}}</button>
            </div>
        </div>
    </section>
</article>