.width-100 {
    width: 100%;
}

.width-70 {
    width: 70%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-30 {
    width: 30%;
}

.margin-r5 {
    margin-right: 5px;
}

.total-data {
    display: flex;
    padding: 10px;
    background-color: #d8d8d8;
}

.total-data div {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #cccccc;
}

.bg-green {
    background-color: #c2d49b;
    color: white
}

.padding-10 {
    padding: 10px;
}

.no-data-msg {
    text-align: center;
    padding: 10px;
}

article {
    padding: 20px;
    background-color: white;
    overflow: auto;
}

table {
    width: 100%;
}

th, td {
    text-align: center !important;
}

article > section {
    min-width: 750px;
}

mat-form-field {
    font-size: 11px;
}

.flex {
    display: flex;
}

.flex div {
    padding-right: 5px;
    flex-basis: 300px;
}

.flex div:last-child {
    flex-basis: 400px;
}
