<article>
    <section>
        <h2 mat-dialog-title>Center Jabber</h2>
    </section>
    <mat-divider></mat-divider>
    <section class="form-section">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{'terminal.add-jabber-dialog.input1'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>{{'terminal.add-jabber-dialog.input2'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>{{'terminal.add-jabber-dialog.input3'|translate}}</mat-label>
                <input matInput [formControl]="pass" [type]="hide ? 'password' : 'text'" #pass>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>{{'terminal.add-jabber-dialog.input4'|translate}}</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>{{'terminal.add-jabber-dialog.input5'|translate}}</mat-label>
                <input matInput>
                <mat-hint>{{'terminal.add-jabber-dialog.input5-hint'|translate}}</mat-hint>
            </mat-form-field>
            <br><br>
            <mat-checkbox>{{'terminal.add-jabber-dialog.checkbox1'|translate}}</mat-checkbox>
            <mat-checkbox>{{'terminal.add-jabber-dialog.checkbox2'|translate}}</mat-checkbox>
            <br>
            <mat-form-field appearance="fill">
                <mat-label> Center Jabber</mat-label>
                <mat-select>
                    <mat-option value="pilihCenter">Pilih Center</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button color="primary" class="add-btn">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
        <div class="data-field">
            <div class="bg-green">{{'terminal.add-jabber-dialog.table-comment'|translate}}</div>
            <div>
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length <= 0">
                    <ng-container matColumnDef="terminalCenter">
                        <th mat-header-cell *matHeaderCellDef> {{'terminal.add-jabber-dialog.table-column1'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.terminalCenter}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="no-data-msg" *ngIf="dataSource.data.length <= 0"> &lt; {{'terminal.add-jabber-dialog.table-no-data'|translate}} &gt; </div>
                <table mat-table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">
                    <ng-container matColumnDef="terminalCenter">
                        <th mat-header-cell *matHeaderCellDef> {{'terminal.add-jabber-dialog.table-column1'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.terminalCenter}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </section>
    <section>
        <div class="form-footer">
            <div>
                <button mat-flat-button color="primary">
                    <mat-icon>done</mat-icon>{{'terminal.add-jabber-dialog.footer-btn1'|translate}}
                </button>
                <button mat-flat-button color="warn">
                    <mat-icon>clear</mat-icon>{{'terminal.add-jabber-dialog.footer-btn2'|translate}}
                </button>
            </div>
        </div>
    </section>
</article>